/* common....type*/


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:"poppins", sans-serif;
}

.container{
    width:78%;
  margin:0 auto;
}
#category, #shoes,#bag{
    margin-bottom: 100px;
}
.cat{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 25px;
  border-radius: 16px;
  
 }

  .cat h2{

font-size: 26px;
font-weight: 500;
color:white
  }

#nav, #hero, #newsletter{
    margin-bottom: 60px;  
}

#nav-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
#nav-cont .logo img{
width:100%;
max-width:148px ;

}
#nav-cont .menu img{
width:100%;
max-width:48px ;

}

body{
    background:#fff ;
}

#hero-cont{
 background: #FEEAE9;
 padding: 40px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 30px;
 border-radius: 12px
}
.hero-txt *{
  margin-bottom: 10px;

}

.hero-txt h1{
 font-size: 42px;
    margin-bottom: 15px;  
 }

 .hero-txt p {
    color: #4E4E4E;
    line-height: 26px;
    
}


.hero-txt h2 {
    color: #FF136F;
    font-weight: 500px;
    font-size: 30px;
    
}
.hero-txt .btn{
    padding: 12px 30px;
    background-image:linear-gradient(to bottom,#FF589B, #ff2e63);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-black {
     padding: 12px 28px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background:black;
    font-family: "Inter",sans-serif;
}

.btn-pink {
    padding: 12px 30px;
    background: #ff2e63;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hero-img {
    width: 100%;
    max-width: 400px;
}
/* CATEGORY */
.section-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1F1F1F;
    
}


.category-grid {
    
    display:flex;
    padding: 0 15px;
    justify-content: space-between;
    margin-bottom: 60px;
    gap:20px;
   
}

.product-grid {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin-bottom: 60px;
    gap: 60px;
   
    
}

.product-card {
    max-width: 360px;
    padding: 25px;
    border: 2px solid #929292;
    border-radius: 14px;
    text-align: center;
  
}
.product-card *{
    margin-bottom: 10px;
}

.product-card img {
    width: 100%;
    
}
.product-card h3{
    font-size: 20px;
}
.product-card p{
font-size: 12px;
line-height: 20px;
color: #4E4E4E;
font-family: "Inter",sans-serif;
}
.product-card h4{
    font-size: 20px;
  font-weight: 600;
}

/* NEWSLETTER */

#news-cont{
  background: #FFF2F1;
  padding: 140px;
text-align: center;
}

#news-cont h1{
color: #1F1F1F;
font-weight: 600;
font-size: 30px;
}
#news-cont p{
color: #707070;
font-weight: 500;
}
#news-cont form {
    margin-top: 20px;
    display: flex
}

#news-cont form input[type=text]{
width:100% ;
padding: 10px;
border: none;
}
#news-cont button{
padding: 12px 30px;
border: none;
    border-radius: 6px;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
    background-image:linear-gradient( to bottom,#FF589B #ff2e63);
    color: white;
    
    cursor: pointer;
}









